@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

@import 'utilities';

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: $off-white;
  color: $very-dark-blue;
}

.container
{
  width: 80%;
  margin: auto;
  max-width: 1100px;
}

.navbar 
{
  position: relative;
  height: 150px;
  
  a 
  {
    cursor: pointer;
    margin-right: 40px;
    color: $dark-grayish-blue;
    transition: all 0.3s;
    text-decoration: none;
    
    &:hover 
    {
      color: $soft-red;
    }
  }

  .hamburger, #sm
  {
    display: none;
  }

  #sm
  {
    position: absolute;
    left: 40%;
    background-color: $off-white;
    width: 70vw;
    height: 300vh;
    margin-top: 500px;
    transform: translateX(-10px);
    transition: all 0.3s;

    &.flex
    {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .close-icon
    {
      margin-left: 70%;
      margin-bottom: 100px;
    }

    li
    {
      font-size: 25px;
      margin: 30px;

      &:hover 
      {
        color: $soft-red;
      }
      a
      {
        color: $very-dark-blue;
      }
    }
  }
}

.main-container
{
  margin-bottom: 70px;

  .web-3
  {
    img 
    {
      width: 95%;
    }

    .content
    {
      max-width: 683px;
      margin-top: 20px;

      h1 
      {
        font-weight: 800;
        font-size: 3em;
        line-height: 1em;
      }

      .content-p
      {
        p
        {
          color: $dark-grayish-blue;
          margin-bottom: 30px;
        }

        button 
        {
          cursor: pointer;
          padding: 10px 25px;
          border: 0;
          border-radius: 0;
          font-size: 13px;
          background-color: $soft-red;
          color: $off-white;
          font-weight: 700;
          letter-spacing: 0.2em;
          transition: 0.3s;

          &:hover 
          {
            background-color: $very-dark-blue;
          }

          &:active
          {
            transform: scale(0.9);
          }
        }
      }

      &.grid
      {
        grid-template-columns: 2fr 3fr;
        gap: 50px;
      }
    }
  }

  .sidebar
  {
    background-color: $very-dark-blue;
    color: $off-white;
    padding: 30px 20px;

    h1 
    {
      color: $soft-orange;
      margin-bottom: 30px;
    }

    h3 
    {
      cursor: pointer;
      margin-bottom: 15px;
      transition: all 0.3s;

      &:hover 
      {
        color: $soft-orange;
      }
    }

    .bar
    {
      width: 100%;
      background-color: $dark-grayish-blue;
      height: 1px;
      margin: 30px 0;
    }

    p 
    {
      color: $grayish-blue;
    }
  }
}

footer
{
  margin-bottom: 50px;

  &.grid
  {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .flex
  {
    align-items: flex-end;
    gap: 20px;
  }
  
  img 
  {
    width: 35%;
  }

  h1
  {
    color: $grayish-blue;
    font-size: 30px;
  }

  h4
  {
    font-weight: 800;
    margin: 10px 0;
  }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1)
{
  .navbar
  {
    .lg 
    {
      display: none;
    }

    .hamburger
    {
      display: inline-flex;
    }
  }

  footer
  {
    &.grid 
    {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    
    .flex 
    {
      justify-content: flex-start;
    }
  }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
{
  .main-container
  {
    &.grid
    {
      grid-template-columns: 1fr;
    }
  }

  .web-3
  {
    margin-bottom: 50px;
  }

  footer 
  {
    h1 
    {
      font-size: 50px;
    }
    h4 
    {
      font-size: 22px;
    }
    p
    {
      font-size: 20px;
    }
  }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
{
  .container
  {
    width: 90%;
  }

  .main-container
  {
    &.grid
    {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    .web-3
      {
        img 
        {
          content: url(./assets/images/image-web-3-mobile.jpg);
        }

        .content 
        {
          &.grid 
          {
            grid-template-columns: 1fr;
            gap: 20px;
          }
        }
      }
  }
}
