@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
ul {
  list-style: none;
}

h1 {
  font-size: 35px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: #fffdfa;
  color: #00001a;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1100px;
}

.navbar {
  position: relative;
  height: 150px;
}

.navbar a {
  cursor: pointer;
  margin-right: 40px;
  color: #5d5f79;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  color: #f15e50;
}

.navbar .hamburger, .navbar #sm {
  display: none;
}

.navbar #sm {
  position: absolute;
  left: 40%;
  background-color: #fffdfa;
  width: 70vw;
  height: 300vh;
  margin-top: 500px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar #sm.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar #sm .close-icon {
  margin-left: 70%;
  margin-bottom: 100px;
}

.navbar #sm li {
  font-size: 25px;
  margin: 30px;
}

.navbar #sm li:hover {
  color: #f15e50;
}

.navbar #sm li a {
  color: #00001a;
}

.main-container {
  margin-bottom: 70px;
}

.main-container .web-3 img {
  width: 95%;
}

.main-container .web-3 .content {
  max-width: 683px;
  margin-top: 20px;
}

.main-container .web-3 .content h1 {
  font-weight: 800;
  font-size: 3em;
  line-height: 1em;
}

.main-container .web-3 .content .content-p p {
  color: #5d5f79;
  margin-bottom: 30px;
}

.main-container .web-3 .content .content-p button {
  cursor: pointer;
  padding: 10px 25px;
  border: 0;
  border-radius: 0;
  font-size: 13px;
  background-color: #f15e50;
  color: #fffdfa;
  font-weight: 700;
  letter-spacing: 0.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-container .web-3 .content .content-p button:hover {
  background-color: #00001a;
}

.main-container .web-3 .content .content-p button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-container .web-3 .content.grid {
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 50px;
}

.main-container .sidebar {
  background-color: #00001a;
  color: #fffdfa;
  padding: 30px 20px;
}

.main-container .sidebar h1 {
  color: #e9ab53;
  margin-bottom: 30px;
}

.main-container .sidebar h3 {
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-container .sidebar h3:hover {
  color: #e9ab53;
}

.main-container .sidebar .bar {
  width: 100%;
  background-color: #5d5f79;
  height: 1px;
  margin: 30px 0;
}

.main-container .sidebar p {
  color: #c5c6ce;
}

footer {
  margin-bottom: 50px;
}

footer.grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

footer .flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

footer img {
  width: 35%;
}

footer h1 {
  color: #c5c6ce;
  font-size: 30px;
}

footer h4 {
  font-weight: 800;
  margin: 10px 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar .lg {
    display: none;
  }
  .navbar .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  footer.grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  footer .flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-container.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .web-3 {
    margin-bottom: 50px;
  }
  footer h1 {
    font-size: 50px;
  }
  footer h4 {
    font-size: 22px;
  }
  footer p {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 90%;
  }
  .main-container.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px;
  }
  .main-container .web-3 img {
    content: url(/assets/images/image-web-3-mobile.jpg);
  }
  .main-container .web-3 .content.grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */